body {
  background-color: #4C0070;
}

body {
  color: #F3E9DD;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  color: ##F3E9DD;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: ##F3E9DD;
  padding-bottom: 10px;
}

h3 {
  color: #F3E9DD;
}

p {
  line-height: 2:
}

hr {
  border: dotted #9A0680 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #9A0680;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px text-decoration:none;
}

a:hover {
  color: #9A0680;
}

.mountain-img {
  position: absolute bottom:10px;
}

.top-container {
  background-color: #79018C;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px;
  0;
}

.bottom-container {
  background-color: #160040;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
  60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.miniature-schnauzer-sticker {
  width: 150px;
  height: 150px;
}

.code-img {
  height: 100px;
  width: 100px;
  bottom: 50px;
  position: relative;
  float: left;
  margin-right: 30px;
}

.bruno-view {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.texas-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #F3E9DD;
  background-image: -webkit-linear-gradient(top, #9A0680, #9A0680);
  background-image: -moz-linear-gradient(top, #9A0680, #9A0680);
  background-image: -ms-linear-gradient(top, #9A0680, #9A0680);
  background-image: -o-linear-gradient(top, #9A0680, #9A0680);
  background-image: linear-gradient(to bottom, #9A0680, #9A0680);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #F3E9DD;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F3E9DD;
  background-image: -webkit-linear-gradient(top, #160040, #160040);
  background-image: -moz-linear-gradient(top, #160040, #160040);
  background-image: -ms-linear-gradient(top, #160040, #160040);
  background-image: -o-linear-gradient(top, #160040, #160040);
  background-image: linear-gradient(to bottom, #160040, #160040);
  text-decoration: none;
}

.btn {
  color: #F3E9DD;
}

.footer-link {
  color: #9A0680;
}

.bottom-container {
  color: #160040;
  text-decoration: none;
}

.bruno-copy {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
